Language:        Cpp
BasedOnStyle:    LLVM
ColumnLimit:     80
IndentWidth:     4
TabWidth:        4
UseTab:          Never
BreakBeforeBraces: Linux
AlignAfterOpenBracket: Align
PointerAlignment: Right
IndentCaseLabels: false
SpaceAfterCStyleCast: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: WithoutElse
SortIncludes:    false
